@import 'additional-styles/utility-patterns.css';

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: auto;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#test {
  width: 30px;
  height: 10px;
  background: green;
  position: relative;
  display: inline-block;
}

#test:before {
  background: white;
  height: 3px;
  width: 30px;
  border-radius: 0 6px 6px 0 / 0 30px 30px 0;
  display: inline-block;
  content: '';
}

#test:after {
  background: white;
  height: 3px;
  width: 30px;
  border-radius: 6px 0 0 6px / 30px 0 0 30px;
  display: inline-block;
  content: '';
  position: relative;
  left: 40px;
}
